# Ignore everything inside logs and output
logs/*
output/*

# But keep placeholder files
!logs/.gitkeep
!output/.gitkeep

# Python cache
__pycache__/
.pytest_cache/
*.pyc

# Env & OS files
.env
.DS_Store
Thumbs.db
